@page "/"

@using Microsoft.EntityFrameworkCore
@using WardrobeInventory.Data
@using WardrobeInventory.Models
@using WardrobeInventory.Components.Reusable
@inject WardrobeInventoryContext DbContext
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Your Wardrobe Items</PageTitle>

<AppButton OnButtonClicked="@CreateNew" Content="New Wardrobe Item"></AppButton>


<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-4">
    @if (Items == null || !Items.Any())
    {
        <p>No items found!</p>
    }
    else
    {
        @foreach (var item in Items)
        {
            <Card ImageBytes="@item.Image" Description="@item.Name" Category="@item.Category.ToString()"
                  Color="@item.Color"
                  OnEditClicked="() => EditItem(item)"
                  OnDeleteClicked="() => DeleteItem(item)"/>
        }
    }
</div>

@code {
    private List<WardrobeItem>? Items;

    private void EditItem(WardrobeItem item)
    {
        Navigation.NavigateTo($"/edit?id={item.Id}");
    }

    private void CreateNew()
    {
        Navigation.NavigateTo("/create");
    }

    private async Task DeleteItem(WardrobeItem item)
    {
        await DbContext.WardrobeItem.Where(i => i.Id == item.Id).ExecuteDeleteAsync();
        Items?.Remove(item);
        StateHasChanged();
    }
    
    protected override async Task OnInitializedAsync()
    {
        Items = await DbContext.WardrobeItem.ToListAsync();
    }

}

